<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="Professional carpet cleaning services in Newcastle. Remove stains, dust, and allergens from your carpets. Call Blue Gum Home Services today!">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Carpet & Upholestery</title>
		
		<!-- Favicon -->
        <link rel="icon" href="../img/favicon.avif">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="../css/nice-select.css">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="../css/font-awesome.min.css">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="../css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="../css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="../css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="../css/datepicker.css">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="../css/animate.min.css">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="../css/magnific-popup.css">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="../css/responsive.css">

		<!-- Schema Implementation :) -->
		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "LocalBusiness",
			"name": "Blue Gum Home Services",
			"description": "Blue Gum Home Services provides professional carpet cleaning, upholstery cleaning, end-of-lease cleaning, end-of-build cleaning, pest control, and water damage restoration in Newcastle, Australia.",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "10 Tulloch Avenue",
				"addressLocality": "Maryland",
				"addressRegion": "NSW",
				"postalCode": "2287",
				"addressCountry": "Australia"
			},
			"url": "https://www.bluegumhomeservices.com.au",
			"telephone": "+64-488-777-441",
			"openingHours": "Mo-Fi 09:00-17:00",
			"geo": {
				"@type": "GeoCoordinates",
				"latitude": "-32.886059775985494",
				"longitude": "151.66355148465823"
			},
			"sameAs": [
				"https://www.facebook.com/bluegumhomeservices"
			]
			}
		</script>
		
    </head>
    <body>

		<!-- Preloader -->
		<div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
            </div>
        </div>
		<!-- End Preloader -->
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="#how-we-do-it">How We Do It</a></li>
								<li><a href="#why-choose-us">Why Choose Us</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i><a href='tel:+61488777441'>+61 48877 7441</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:bluegumhomeservices@gmail.com">bluegumhomeservices@gmail.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="../index.html"><img src="../img/logo.avif" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="#">Our Services<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="carpetupholstery.html">Carpet & Upholstery</a></li>
													<li><a href="pestcontrol.html">Pest Control</a></li>
													<li><a href="endoflease.html">End of Lease Cleaning</a></li>
													<li><a href="waterdamage.html">Water Damage Restoration</a></li>
													<li><a href="views/endofbuild.html">End of Build Cleaning</a></li>
												</ul>
											</li>
											<li><a href="contact.html">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="book.html" class="btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay" style="background-image: url('../img/capet-cleaning.avif')">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<ul class="bread-list">
								<li><a href="../index.html">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Carpet & Upholestery</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->

        <!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<br><br><br>
							<h2>Carpet & Upholstery</h2>
						</div>
                        <div class="text-center"><p>
                            At Blue Gum Home Services, we offer professional carpet and upholstery cleaning services tailored to meet your needs. Our advanced machinery and specialized chemical process ensures your carpets and upholstery are the cleanest and most hygienic in the Hunter region.
                            <br><br>
                            Our state-of-the-art equipment reaches deep into your carpets, extracting dirt and grime that regular cleaning methods miss. This ensures your carpets not only look their best but are thoroughly sanitized. As a locally owned business, we proudly source all our products from local suppliers, supporting our community and guaranteeing quality.
                            <br><br>
                            Our experienced technicians are adept at handling even the most challenging fabrics, ensuring your lounges and upholstery are clean, fresh, and dry within approximately 6 hours*. Our powerful cleaning system removes grease, body oils, and embedded dirt without leaving any chemical residue.
                        </p></div>
					</div>
				</div>
            </div>
        </section>
        <!-- End features-->

        <!-- Start clients -->
		<div class="clients overlay" style="background-image:url('../img/carpet-cleaning2.avif')">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
					</div>
				</div>
			</div>
			<a name="how-we-do-it"></a>
		</div>
		<!--/End clients -->

        <!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>How Do We Do It?</h2>
							<p>Experience the difference with us for a cleaner, healthier, and more professional environment.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3>Step by Step</h3>
							<div class="row">
								<div class="col-lg-12" style="padding-left: 30px;">
									<ol class="list">
										<li>Vacuum carpet thoroughly</li>
										<li>Treat the stains with our spot solution</li>
										<li>Combine hot water & carpet solution into the extraction machine</li>
                                        <li>Thoroughly clean the carpet with the hot water extraction machine</li>
                                        <li>Drypass the carpet to enhance drying time</li>
                                    </ol>
								</div>
							</div>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right" style="background-image: url('../img/coming-soon.avif');">
							<div class="video-image">
								<!-- Video Animation -->
								<div class="promo-video">
									<div class="waves-block">
										<div class="waves wave-1"></div>
										<div class="waves wave-2"></div>
										<div class="waves wave-3"></div>
									</div>
								</div>
								<!--/ End Video Animation -->
								<a href="https://www.youtube.com/watch?v=RFVXy6CRVR4" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
			<a name="why-choose-us"></a>
		</section>
		<!--/ End Why choose -->

        <!-- Start service -->
		<section class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Why Choose Us?</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-tick-mark"></i>
							<h4>High-Quality Service</h4>
							<p>We deliver unmatched service quality, setting us apart from other cleaning businesses.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-tick-mark"></i>
							<h4>Safe and Non-Toxic</h4>
							<p>The chemicals we use are safe, non-toxic, and leave no harmful residues, ensuring a healthy environment for your family.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-tick-mark"></i>
							<h4>Local Commitment</h4>
							<p>Being a locally owned business, we are committed to providing top-notch service while supporting local suppliers.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->

        <!-- Start clients -->
		<div class="clients overlay" style="background-image:url('../img/carpet-cleaning3.avif');">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
					</div>
				</div>
			</div>
		</div>
		<!--/End clients -->
		
		<!-- Start Appointment -->
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Get in Touch</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<form class="form" action="#">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-group">
										<input name="name" type="text" placeholder="Name">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="email" type="email" placeholder="Email">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="phone" type="text" placeholder="Phone">
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-group">
										<textarea name="message" placeholder="Write Your Message Here....."></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5 col-md-4 col-12">
									<div class="form-group">
										<div class="button">
											<button type="submit" class="btn">Submit Enquiry</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image">
							<img src="../img/carpet-git.avif" alt="#">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Appointment -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>About Us</h2>
								<p>Blue Gum Home Services is a multipurpose cleaning business which is local in the Hunter.</p>
								<!-- Social -->
								<ul class="social">
									<li><a href="https://www.facebook.com/bluegumhomeservices/"><i class="icofont-facebook"></i></a></li>
									<li><a href="https://g.co/kgs/2MjTcaU"><i class="icofont-brand-google"></i></a></li>
									<li><a href="mailto:bluegumhomeservices@gmail.com"><i class="icofont-email"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Open Hours</h2>
								<ul class="time-sidual">
									<li class="day">Monday - Friday <span>9:00am - 5:00pm</span></li>
									<li class="day">Weekends<span>Closed</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>Built by Nathan Henderson (their son)</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="../js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
		<script src="../js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
		<script src="../js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
        <script src="../js/easing.js"></script>
		<!-- Color JS -->
		<script src="../js/colors.js"></script>
		<!-- Popper JS -->
		<script src="../js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="../js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
        <script src="../js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
		<script src="../js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
        <script src="../js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
		<script src="../js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
		<script src="../js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
        <script src="../js/owl-carousel.js"></script>
		<!-- counterup JS -->
		<script src="../js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
		<script src="../js/steller.js"></script>
		<!-- Wow JS -->
		<script src="../js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
		<script src="../js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="../js/bootstrap.min.js"></script>
		<!-- Main JS -->
		<script src="../js/main.js"></script>

		<!-- Service Schema -->
		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "Service",
			"serviceType": "Carpet and Upholstery Cleaning",
			"provider": {
				"@type": "LocalBusiness",
				"name": "Blue Gum Home Services",
				"address": {
				"@type": "PostalAddress",
				"streetAddress": "10 Tulloch Avenue",
				"addressLocality": "Maryland",
				"addressRegion": "NSW",
				"postalCode": "2287",
				"addressCountry": "Australia"
				},
				"telephone": "+64-488-777-441",
				"url": "https://www.bluegumhomeservices.com.au"
			},
			"areaServed": {
				"@type": "Place",
				"name": "Newcastle"
			}
			}
		</script>
	
    </body>
</html>