<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="Fast water damage restoration in Newcastle. Protect your property with Blue Gum Home Services' expert response to water damage. Contact us for immediate assistance.">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Water Damage</title>
		
		<!-- Favicon -->
        <link rel="icon" href="../img/favicon.avif">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="../css/nice-select.css">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="../css/font-awesome.min.css">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="../css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="../css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="../css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="../css/datepicker.css">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="../css/animate.min.css">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="../css/magnific-popup.css">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="../css/responsive.css">

		<!-- Schema Implementation :) -->
		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "LocalBusiness",
			"name": "Blue Gum Home Services",
			"description": "Blue Gum Home Services provides professional carpet cleaning, upholstery cleaning, end-of-lease cleaning, end-of-build cleaning, pest control, and water damage restoration in Newcastle, Australia.",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "10 Tulloch Avenue",
				"addressLocality": "Maryland",
				"addressRegion": "NSW",
				"postalCode": "2287",
				"addressCountry": "Australia"
			},
			"url": "https://www.bluegumhomeservices.com.au",
			"telephone": "+64-488-777-441",
			"openingHours": "Mo-Fi 09:00-17:00",
			"geo": {
				"@type": "GeoCoordinates",
				"latitude": "-32.886059775985494",
				"longitude": "151.66355148465823"
			},
			"sameAs": [
				"https://www.facebook.com/bluegumhomeservices"
			]
			}
		</script>
		
    </head>
    <body>

		<!-- Preloader -->
		<div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
            </div>
        </div>
		<!-- End Preloader -->
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="waterdamage.html#why-choose-us">Why Choose Us</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i><a href='tel:+61488777441'>+61 48877 7441</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:bluegumhomeservices@gmail.com">bluegumhomeservices@gmail.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="../index.html"><img src="../img/logo.avif" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="#">Our Services<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="carpetupholstery.html">Carpet & Upholstery</a></li>
													<li><a href="pestcontrol.html">Pest Control</a></li>
													<li><a href="endoflease.html">End of Lease Cleaning</a></li>
													<li><a href="waterdamage.html">Water Damage Restoration</a></li>
													<li><a href="endofbuild.html">End of Build Cleaning</a></li>
												</ul>
											</li>
											<li><a href="contact.html">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="book.html" class="btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay" style="background-image: url('../img/newcastle.avif')">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<ul class="bread-list">
								<li><a href="../index.html">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Water Damage</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->

        <!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<br><br><br>
							<h2>Water Damage Restoration</h2>
						</div>
                        <div class="text-center">
                            <p>
                                Flood damage or burst pipes can cause extensive harm to furniture and all types of flooring, including underlay and subfloors. Walls often need thorough inspection, as mold can become a serious issue if not addressed by experienced professionals. Simply removing excess water is insufficient to resolve problems caused by burst pipes or floods.
                                <br><br>
                                Our team uses specialized equipment to prevent environments conducive to mould growth. With over 20 years of experience in water damage restoration, we provide comprehensive plans to restore areas damaged by everything from floods to accidental spills in homes and offices.
                                <br><br>
                                Our technicians work closely with insurance companies to ensure a smooth and efficient restoration experience.
                                <br><br>
                                Trust Blue Gum Home Services for expert water damage restoration services that prioritize your safety and satisfaction.
                            </p>
                        </div>
					</div>
				</div>
            </div>
        </section>
        <!-- End features-->

        <!-- Start clients -->
		<div class="clients overlay" style="background-image:url('../img/water-damage.avif');">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
					</div>
				</div>
			</div>
			<a name="why-choose-us"></a>
		</div>
		<!--/End clients -->

        <!-- Start service -->
		<section class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Why Choose Us?</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-tick-mark"></i>
							<h4>Extensive Experience</h4>
							<p>Over 20 years of expertise in water damage restoration ensures reliable and high-quality service.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-tick-mark"></i>
							<h4>Advanced Equipment</h4>
							<p>Utilization of specialized equipment to prevent mould growth and ensure thorough restoration.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-tick-mark"></i>
							<h4>Insurance Expertise</h4>
							<p>Skilled in handling insurance claims, working directly with insurance companies for a seamless process.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-tick-mark"></i>
							<h4>Qualified Technicians</h4>
							<p>Highly trained and certified professionals dedicated to delivering exceptional results.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-tick-mark"></i>
							<h4>Prompt and Efficient Service</h4>
							<p>Quick response times to minimize damage and begin restoration immediately.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-tick-mark"></i>
							<h4>Customer Satisfaction</h4>
							<p>Commitment to excellent customer service, ensuring your complete satisfaction with our work.</p>	
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->

        <!-- Start clients -->
		<div class="clients overlay" style="background-image:url('../img/water-damage2.avif');">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
					</div>
				</div>
			</div>
		</div>
		<!--/End clients -->
		
		<!-- Start Appointment -->
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Get in Touch</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<form class="form" action="#">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-group">
										<input name="name" type="text" placeholder="Name">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="email" type="email" placeholder="Email">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="phone" type="text" placeholder="Phone">
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-group">
										<textarea name="message" placeholder="Write Your Message Here....."></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5 col-md-4 col-12">
									<div class="form-group">
										<div class="button">
											<button type="submit" class="btn">Submit Enquiry</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image">
							<img src="../img/water-git.avif" alt="#">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Appointment -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>About Us</h2>
								<p>Blue Gum Home Services is a multipurpose cleaning business which is local in the Hunter.</p>
								<!-- Social -->
								<ul class="social">
									<li><a href="https://www.facebook.com/bluegumhomeservices/"><i class="icofont-facebook"></i></a></li>
									<li><a href="https://g.co/kgs/2MjTcaU"><i class="icofont-brand-google"></i></a></li>
									<li><a href="mailto:bluegumhomeservices@gmail.com"><i class="icofont-email"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Open Hours</h2>
								<ul class="time-sidual">
									<li class="day">Monday - Friday <span>9:00am - 5:00pm</span></li>
									<li class="day">Weekends<span>Closed</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>Built by Nathan Henderson (their son)</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="../js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
		<script src="../js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
		<script src="../js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
        <script src="../js/easing.js"></script>
		<!-- Color JS -->
		<script src="../js/colors.js"></script>
		<!-- Popper JS -->
		<script src="../js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="../js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
        <script src="../js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
		<script src="../js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
        <script src="../js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
		<script src="../js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
		<script src="../js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
        <script src="../js/owl-carousel.js"></script>
		<!-- counterup JS -->
		<script src="../js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
		<script src="../js/steller.js"></script>
		<!-- Wow JS -->
		<script src="../js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
		<script src="../js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="../js/bootstrap.min.js"></script>
		<!-- Main JS -->
		<script src="../js/main.js"></script>

		<!-- Service Schema -->
		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "Service",
			"serviceType": "Water Damage Restoration",
			"provider": {
				"@type": "LocalBusiness",
				"name": "Blue Gum Home Services",
				"address": {
				"@type": "PostalAddress",
				"streetAddress": "10 Tulloch Avenue",
				"addressLocality": "Maryland",
				"addressRegion": "NSW",
				"postalCode": "2287",
				"addressCountry": "Australia"
				},
				"telephone": "+64-488-777-441",
				"url": "https://www.bluegumhomeservices.com.au"
			},
			"areaServed": {
				"@type": "Place",
				"name": "Newcastle"
			}
			}
		</script>
    </body>
</html>